@using Sandbox;
@using Sandbox.UI;
@using XGUI; 
@inherits Window

<root title="About XGUI" hasminimise="true" hasmaximise="true" x="540" y="240">
	<div class="window-content">

		<tabcontrol>
			<tab tabName="controls" slot="tab" tabtext="Controls">
				<div style="width:320px;height:240px;">
					<div class="self-layout self-layout-row">
						<check>CheckBox</check>
					</div>
					<div class="self-layout self-layout-row">
						<button>Button</button>
					</div>
					<div class="self-layout self-layout-row">
						<textentry></textentry>
					</div>
					<div class="self-layout self-layout-row">
						<combobox default="ComboBox" style="margin-bottom:8px;">
							<option value="combo">ComboBox</option>
							<option value="high">Option 1</option>
							<option value="low">Option 2</option>
						</combobox>
					</div>
					<div class="self-layout self-layout-row">
						<radiobuttons>
							<radiobutton>Option 1</radiobutton>
							<radiobutton>Option 2</radiobutton>
							<radiobutton>Option 3</radiobutton>
						</radiobuttons>
					</div>
					<div class="self-layout self-layout-row">
						<sliderscaleentry style="margin-bottom:8px;" min=1 max=10 mintext="1.00" maxtext="10.0" step=1></sliderscaleentry>
					</div>
					<div class="self-layout self-layout-row">
						<sliderscale min=1 max=10 mintext="1.00" maxtext="10.0" step=1></sliderscale>
					</div>
				</div>
			</tab>
			<tab tabName="about" slot="tab" tabtext="About">
				<div style="width:320px;height:240px;">
					<p>XGUI is a library that allows quick implementation of traditional desktop UI (and UI elements) in s&box games.</p>

					<p>It's great for quickly creating simple but functional debugging and development UI and tools.</p>
					<br />
					<p>You can easily customise the look of XGUI, or choose between some pre-made styles (Check them out at the bottom)</p>
				</div>
			</tab>
			<tab tabName="themes" slot="tab" tabtext="Themes">
				<div style="width:320px;height:240px;">
					s&box bug prevented me putting the buttons in here, so they're at the bottom instead.
				</div>
			</tab>@* 
		<tab tabName="mdi" slot="tab" tabtext="MDI">
			<div style="width:320px;height:240px;">
				s&box bug prevented me putting the buttons in here, so they're at the bottom instead.
				@if (MainTabs.ActiveTab == "mdi" && false)
				{ 
					<GameLauncher></GameLauncher>
				}
			</div>
		</tab> *@
		</tabcontrol>

		<div class="margin column">
			<label>Select Theme:</label>
			<combobox default=@(StyleName) @ref="ThemeComboBox">
				@foreach (string i in FileSystem.Mounted.FindFile("/XGUI/DefaultStyles/", "*.scss"))
				{
					<option value="combo">@i.Replace(".scss", "")</option>
				}
			</combobox>
		</div>
		<resizer>

		</resizer>
	</div>
</root>

@code {

	private ComboBox ThemeComboBox;
	public string StartTab = "";
	public Vector2 OverrideSize = Vector2.Zero;
	public TabContainer MainTabs { get; set; }
	int Loaded = 0;
	public override void Tick()
	{
		base.Tick();
		if (Loaded == 0)
		{
			Loaded++;
			Style.ZIndex = 100;
			ApplyStyle(StyleName);
			if (StartTab != "") SetTab(StartTab);
			if (OverrideSize != Vector2.Zero)
			{
				Style.Width = OverrideSize.x;
				Style.Height = OverrideSize.y;
			}
			if (ThemeComboBox != null)
			{
				ThemeComboBox.ValueChanged = LoadStyle;
			}
		}
		if (ThemeComboBox != null && ThemeComboBox.ValueChanged == null)
		{
			ThemeComboBox.ValueChanged = LoadStyle;
		}
	}

	public void SetTab(string tab)
	{
		foreach (var tabs in ChildrenOfType<TabContainer>())
		{
			tabs.ActiveTab = tab;
		}
	}
	public string GetTab()
	{
		foreach (var tabs in ChildrenOfType<TabContainer>())
		{
			return tabs.ActiveTab;
		}
		return "about";
	}

	StyleSheet CurrentStyle;
	public string StyleName = "OliveGreen";

	public void ResetStyle()
	{
		StyleSheet.Remove("*");
		Loaded++;
	}
	public void ApplyStyle(string styleName)
	{
		StyleSheet.Remove("*");
		CurrentStyle = Sandbox.UI.StyleSheet.FromFile($"/XGUI/DefaultStyles/{styleName}.scss");
		StyleSheet.Add(CurrentStyle);
		Loaded++;
	}
	public void LoadStyle(string styleName)
	{
		Log.Info(styleName);
		var b = Parent.AddChild<About>();
		b.StyleName = styleName;
		b.Position = Position;
		//b.OverrideSize = new Vector2(Box.Rect.Width, Box.Rect.Height);
		b.StartTab = GetTab();
		Delete();
	}
	protected override int BuildHash()
	{
		return System.HashCode.Combine(Loaded);
	}
}