@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/OliveGreen.scss" )]
@inherits Window

<root>
<div class="window-content">!-- Design your UI here -->
    <button style="position:absolute;">Button</button>/div>

</root>

@code {
    // Add your code here
}