@using Sandbox;
@using Sandbox.UI;
@using XGUI; 
@using XGUI.ImmediateMode;
@attribute [StyleSheet("/XGUI/DefaultStyles/OliveGreen.scss")]
@inherits Window

<root title="Themes" width="720px" height="80px" minwidth="512px" minheight="80px" x="700" y="600">
	<div style="flex-direction:column; margin:8px;"> 
		<div style="flex-direction:column;">
			<label style="font-size:9px; bottom:5px;">Select the theme for immediate mode windows (requires closing the immediate mode window):</label>
			<div style="flex-direction:row;">
				@foreach (string i in FileSystem.Mounted.FindFile("/XGUI/DefaultStyles/", "*.scss"))
				{
					<button style="font-size:9px; width:auto; margin-right:3px;" onclick=@( () => ApplyStyle(i) )>@i.Replace(".scss", "")</button>
				}
			</div>
		</div>
	</div>
	<resizer>

	</resizer>
</root>
@code {

	public string StyleName = "OliveGreen.scss";
	public void ApplyStyle(string styleName)
	{
		ImXGUI.CurrentStyle = $"/XGUI/DefaultStyles/{styleName}";
	}
}