@using Sandbox;
@using Sandbox.UI;
@using XGUI; 
@using XGUI.ImmediateMode;
@attribute [StyleSheet("/XGUI/DefaultStyles/OliveGreen.scss")]
@inherits Window

<root title="Options" width="512px" height="406px" minwidth="512px" minheight="406px">
	<div style="flex-direction:row; margin:8px; margin-top:5px; justify-content:flex-end;">
		<div style="align-items:center; align-self:flex-start;">
			<label style="font-size:9px; margin-right:3px;">Select Theme:</label>
			@foreach (string i in FileSystem.Mounted.FindFile("/XGUI/DefaultStyles/"))
			{
				<button style="font-size:9px; width:auto; margin-right:3px;" onclick=@( () => ApplyStyle(i) )>@i.Replace(".scss", "")</button>
			}
		</div>
		<button style="margin-left:8px; width:64px;" autofocus=1 focus=1>OK</button> 
	</div>
	<resizer>

	</resizer>
</root>
@code {

	public string StyleName = "OliveGreen.scss";
	public void ApplyStyle(string styleName)
	{
		ImXGUI.CurrentStyle = $"/XGUI/DefaultStyles/{styleName}";
	}
}