@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet("/XGUI/DefaultStyles/Computer95.scss")]
@inherits Window

<root title="S&Doom" width="240" height="402" theme="Computer95">
	<div class="window-content">
		<groupbox title="Game Parameters" class="margin" style="margin-top: 16px;">
			<controllabel label="GameWAD file" class="margin-bottom">
				<combobox default="Select...">
				</combobox>
			</controllabel>
			<controllabel label="Custom WAD File" class="margin-bottom">
				<div class="row">
					<combobox default="Select..." style="flex-grow:1; margin-right: 8px;">
					</combobox>
					<button>
						Browse...
					</button>
				</div>
			</controllabel>
			<controllabel label="Skill Level" class="margin-bottom">
				<combobox default="I'm too young to die">
					<option value="easy">I'm too young to die</option>
					<option value="medium">Hey, not too rough</option>
				</combobox>
			</controllabel>
			<controllabel label="Episode/Level" class="margin-bottom">
				<combobox>
					<option value="e1m1">Knee-Deep in the Dead</option>
					<option value="e1m2">The Shores of Hell</option>
					<option value="e1m3">Inferno</option>
					<option value="e1m4">Thy Flesh Consumed</option> 
				</combobox>
			</controllabel>
			<groupbox title="Deathmatch Options">
				<check class="margin-bottom">Play in Deathmatch Mode</check>
				<check>Play in Deathmatch II Mode (altdeath)</check>
			</groupbox>
			<groupbox title="Monster Options">
				<checkbox class="margin-bottom">No Monsters</checkbox>
				<checkbox class="margin-bottom">Fast Monsters</checkbox>
				<checkbox>Respawn Monsters</checkbox>
			</groupbox>
		</groupbox>
		<div class="row margin" style="justify-content:space-between">

			<button>Cancel</button>
			<button>New Game</button>
		</div>
	</div>

</root>

@code {
	// Add your code here
}