.console-window {
	.console-box {
		flex-grow: 1;
		margin: 1px;
		margin-top: 2px;
		overflow: scroll;
		background-color: black;
		color: #C0C0C0;

		> label { 
			&.console-area {
				font-family: BlockZone;
				font-size: 16px;
				white-space: pre;
				margin: 0px;
				word-break: break-all;
			}
		}
	}
}
