@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/Computer11.scss" )]
@inherits Window

<root title="My New XGUI Window" width="320" height="240" theme="Computer11">
	<div class="window-content">
		<button style="position: absolute;  right: 14px;  bottom: 6px;  left: 208px;  width: 96px;  top: 181px">
			Button
		</button>
		<button style="position: absolute;  bottom: 6px;  left: 6px;  width: 96px">
			Button
		</button>
		<textentry style="position: absolute;  left: 126px;  top: 6px;  width: 178px" />
	</div>

</root>

@code {
    // Add your code here
}