@using Sandbox;
@using Sandbox.UI;
@using XGUI;
@attribute [StyleSheet( "/XGUI/DefaultStyles/OliveGreen.scss" )]
@inherits Window

<root title="My New XGUI Window" width="320" height="240">
	<div class="window-content">
		<groupbox title="Group" style="position: absolute;  height: 134px;  left: 0px;  top: 35.5px">
			<button style="position: absolute;  left: 6px;  top: 25px">
				Button
			</button>
		</groupbox>
	</div>

</root>

@code {
    // Add your code here
}