
tasklist {
	margin: 11px;
	margin-right: 9px;
	margin-top: 10px;
	margin-bottom: 9px;

	.div-buttons {
		padding-top: 6px;

		.button {
			height: 21px;
		}
	}
}

processlist {
	margin: 11px;
	margin-right: 9px;
	margin-top: 10px;
	margin-bottom: 9px;

	.div-buttons {
		padding-top: 6px;

		.button {
			height: 21px;
		}
	}
}