Desktop {
	flex-direction: row;

	.listview {
		border: none;
		padding:0px;

		&::before {
			border: 0px;
		}

		background-color: transparent;
		color: white;

		.listview-icon-container {
			flex-direction: column;
		}
	}
}
