@using Sandbox.UI
@inherits Panel;

<root style="justify-content:center; align-items: center; background-color: white; color: black;">
	<div style="flex-direction:column; font-smooth:always; font-family:Verdana; margin:8px;">
		<label style="font-size: 13px; margin-bottom:-6px">XGUI</label>
		<div style="flex-direction:row; font-size: 28px; ">
			<label style="font-weight: bold;">Fake</label>
			<label style="font-weight: light;">OS</label>
		</div>
	</div>
	<div style="position:absolute; left:0px; right:0px; bottom:0px; height:5px; background: linear-gradient(to right, #202080, #4080C0, #202080);">
	</div>
</root>